In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv("sample.csv")
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [23]:
x=data.iloc[:,:3].values
y=data.iloc[:,3:].values

In [11]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='mean')
x[:,1:3]=imp.fit_transform(x[:,1:3])

In [25]:
print(x)
print(y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
[['No']
 ['Yes']
 ['No']
 ['No']
 ['Yes']
 ['Yes']
 ['No']
 ['Yes']
 ['No']
 ['Yes']]

In [19]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
x[:,0]=LE.fit_transform(x[:,0])
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [27]:
y

array([['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

In [29]:
y=LE.fit_transform(y)
y

C:\Users\Mark\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [31]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
transform=ColumnTransformer([("norm1",OneHotEncoder(),[0])],remainder="passthrough")
x=transform.fit_transform(x)
x

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, nan],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, nan, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_tain,y_test=train_test_split(x,y,test_size=0.25,random_state=50)

In [39]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
x_train[:,3:5]=SC.fit_transform(x_train[:,3:5])
x_train

array([[0.0, 1.0, 0.0, -1.0880270294902636, -0.7559289460184545],
       [0.0, 1.0, 0.0, 0.7695800940296997, nan],
       [0.0, 0.0, 1.0, -1.6453091665462527, -1.511857892036909],
       [1.0, 0.0, 0.0, -0.159223467730282, -0.25197631533948484],
       [0.0, 0.0, 1.0, 0.398058669325707, 0.12598815766974242],
       [1.0, 0.0, 0.0, 0.21229795697371068, 0.8819171036881969],
       [1.0, 0.0, 0.0, 1.512622943437685, 1.511857892036909]],
      dtype=object)

In [41]:
print("original dataset",data)

original dataset    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [43]:
print("ml needed data",x_train)

ml needed data [[0.0 1.0 0.0 -1.0880270294902636 -0.7559289460184545]
 [0.0 1.0 0.0 0.7695800940296997 nan]
 [0.0 0.0 1.0 -1.6453091665462527 -1.511857892036909]
 [1.0 0.0 0.0 -0.159223467730282 -0.25197631533948484]
 [0.0 0.0 1.0 0.398058669325707 0.12598815766974242]
 [1.0 0.0 0.0 0.21229795697371068 0.8819171036881969]
 [1.0 0.0 0.0 1.512622943437685 1.511857892036909]]